@model IEnumerable<WebBanDungCuHocTap.Models.Cart_Detail>

@{
    ViewBag.Title = "getCarts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using WebBanDungCuHocTap.Models;
@{
    var user = Session["User"] as WebBanDungCuHocTap.Models.Customer;

    Db_WebBanDungCuHocTap da = new Db_WebBanDungCuHocTap();

    var cart = da.Carts.FirstOrDefault(s => s.CustomerID == user.CustomerID);

    decimal? totalPrice = 0;
    if (cart != null)
    {
        totalPrice = da.Cart_Details.Where(s => s.CartID == cart.CartID).Sum(s => s.UnitPrice * s.Quantity);

    }
}


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Truyền dữ liệu qua Controller*@

                            @{
                                if (user != null)
                                {
                                    <div class="input-box">
                                        <label style="display: none" for="customerID">@user.CustomerID</label>

                                        <input data-val="true" style="display: none" id="customerID" name="customerID" type="text" value=@user.CustomerID>
                                    </div>
                                }

                            }
                            @{
                                if (cart != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="~/Content/img/Products/@item.Product.Picture" alt="">
                                                <h5>@Html.DisplayFor(modelItem => item.Product.ProductName)</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                đ
                                                @Html.DisplayFor(modelItem => item.Product.UnitPrice)
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        <p class="quantity-cart">@Html.DisplayFor(modelItem => item.Quantity)</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="shoping__cart__total">
                                                đ
                                                @{
                                                    var total = item.Product.UnitPrice * item.Quantity;

                                                    @String.Format("{0:0.00}", total)
                                                }
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <button data-id="@item.Product.ProductID" type="button" class="btn-delete-cart fa fa-close"></button>
                                            </td>
                                        </tr>

                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-center">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/Home/Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="@Url.Action("getCart", "Cart", new { customerID = user.CustomerID })" class="primary-btn cart-btn cart-btn-right">
                        <span class="icon_loading"></span>
                        Upadate Cart
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>
                            Total
                            <span id="total-price">
                                đ

                                @{
                                    @String.Format("{0:0.00}", totalPrice)
                                }
                            </span>
                        </li>
                    </ul>
                    <a href="@Url.Action("getOrderToCheckOut", "Order", new { customerID = user.CustomerID })" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<script src="~/Content/js/deleteCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

